<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SolarPowerSystemMonitoring</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
            integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        More Info
      </h1>
      <div class="block">
        <strong>Source code</strong> of this project => <a href="https://github.com/best2000/solar_monitoring">https://github.com/best2000/solar_monitoring</a>
    </div>
    <div class="block">
      Some <strong>pics</strong> of this project.<br>
      That's all of the circuits, Including the monitoring system controlled by ESP32.
      <figure class="image is-fullwidth">
        <img src="{{ im }}">
      </figure>
      <figure class="image is-fullwidth">
        <img src="{{ im2 }}">
      </figure>
      <figure class="image is-fullwidth">
        <img src="{{ im3 }}">
      </figure>
      <figure class="image is-fullwidth">
        <img src="{{ im4 }}">
      </figure>
    </div>
    <div class="block">
      Old HP laptop as a web server.
      <figure class="image is-fullwidth">
        <img src="{{ im7 }}">
      </figure>
    </div>
      <div class="block">
        ESP32 delopment process.
        <figure class="image is-fullwidth">
          <img src="{{ im5 }}">
        </figure>
        <figure class="image is-fullwidth">
          <img src="{{ im6 }}">
        </figure>
      </div>
      
    </div>
  </section>
  </body>
</html>